fastapi
uvicorn[standard]

pydantic
python-dotenv
python-multipart

motor
pymongo

passlib[bcrypt]
bcrypt
python-jose

pandas
numpy
openpyxl
docxtpl

groq

cryptography
cffi

dnspython

anyio
starlette
redeploy2
